/* Container for the cards */
.card-container-div {
    display: flex;
    flex-wrap: wrap; /* Space between cards */
  }
  
  /* Individual card styles */
  .card-container {
    width: 30%;
    height: 470px;
    overflow: auto;
    min-height: 200px;
    height: fixed;
    border-radius: 12px;
    margin: 6%;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.5); 
  }


  .services-heading h1{
    font-family: Abhaya Libre;
    font-size: 48px;
    margin-left: 30%;
  }

  .card-content{
    font-size: 28px;
    font-family: Abhaya libre;
    margin: 6%;
  }
  
  @media screen and (max-width: 768px) {
    /* Adjust card width for smaller screens */
    .card-container {
      width: 200px; /* You can adjust the width as needed */
      height: 200px;
      margin: 4%;
      font-size: 8px;
      margin-left: 8%;
      width: 83%;
      box-shadow: none;
    }

    .services-heading h1{
      font-size: medium;
      margin-left: 30%;
    }

  }

  .card-para {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Abhaya Libre;
    margin-top: 2%;
    font-size: 12px;
  }

  .card-para{
    font-size: 14px;
    margin: 4%; 
   }


  @media screen and (max-width:768px) {
    .card-para p{font-size: 8px;
    margin: 4%;}
  }
  .card-container:hover{
    border-width: 3px;
    border-color: lightslategray;
  }
  
  .card-content{
    margin-left: 20%;
  }
  .card-icon{
    border-radius: 50%;
    color: rgba(112, 128, 144, 0.73);
  }

  .card-icon  :hover{
    color : rgb(53, 60, 67);
  }

  @media screen and (max-width:768px) {
    .card-icon{
      margin-left: -30%;
    }

    .card-para p{
      font-size: 28px;
    }

    .services-heading{
      font-size: 24px;
      margin-left: 30%;
    }
  }
