.container{
    display: flex;
    flex-direction: row;
    background-color: rgba(241, 237, 237, 0.807);
    width: 100%;
    height: auto;
    margin-top: 10%;
    margin-bottom: 0%;
    color: white;
    margin-bottom: 4%;
    border-radius: 12px;
    justify-content: space-around;
}

@media screen and (max-width:768px) {
    .container{
        flex-direction: column;
    }
}

.footer-container{
    margin: 4%;
}

.container img{
    width: 72px;
    margin-top: 6%;
    margin-left: 6%;
    margin-right: 6%;
    
}

.container p {
    margin:1%;
    font-size: 12px;
    color: black;
    font-family: Abhaya Libre;
}

.container h1{
    color: black;
    margin-left: -30%;
    margin-bottom: 30%;
}

@media screen and (max-width:768px) {
   .container h1{
    margin-left: 20%;
   }
   .container img{
    margin-left: 30%;
   }
   .container{
    margin-top: 0px;
   }
}

.padding-description{
    margin-left: 0%;
}

.footer-content{
    color: black;
    margin-left: 40%;
    margin-bottom: 30%;
}

.footer-icon{
    margin-left: 30%;
    margin-bottom: 2%;
}

footer-container{
    margin: 0%;
}

@media screen and (max-width : 768px) {
   .padding-description{
    padding-left: 6%;
   }
   .footer-content{
        margin-left: -10%;
   }
   .footer-icon{
    margin-left: 18%;
   }
}