.testimonial-div{
    background-color: rgba(16, 16, 28, 0.533);
    height: 100px;
}

.para-client{
    font-size: 32px;
}

.visibility-seen{
    display: block;
}

@media screen and (max-width : 768px) {
    .para-client{
        font-size: 24px;
    }
    .visibility-seen{
        display: none;
    }

    .heading{
        font-size: 24px;
        margin-left: 20%;
        margin-bottom: 4%;
    }
}



