
  
  .div-flip-cards {
    width: 100%;
    height: auto;
    margin-left: 6%;
    margin-right: 2%;
    margin-bottom: 10%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

  }
  

  .main-div{
    box-shadow: 20px  20px 20px 20px rgba(139, 136, 136, 0.357);
    box-shadow: 30px  30px 0px rgba(137, 132, 132, 0.357);
 
  }
  .div-flip-cards:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
  }

  .card:hover{
    cursor: pointer;
    transform: rotateY(180deg);
  }
  
  .card {
    height: 460px;
    width: 300px;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 2%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    border: 3px solid rgb(104, 107, 109);
    box-shadow: 20px  20px 20px 20px rgba(139, 136, 136, 0.357);
    box-shadow: 30px  30px 0px rgba(137, 132, 132, 0.357);
  }
  
  .front,
  .back {
    height: 410px;
    width: 260px;
    border-radius: 2rem;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front {
  }
  
  .back {
    background-color: #3a3a3a36;
    margin-top: 6%;
    margin-left: 6%;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }